@import url("https://use.typekit.net/hzr5brx.css");

body {
  background-color: #f5f5f5;
}

h1 {
  font-family: proxima-nova;
  font-size: 22px;
  font-weight: 400;
  color: #646464;
}

#firebaseui-container .firebaseui-container {
  background-color: #fff;
  margin-top: 12px;
  border-radius: 8px;
  max-width: 360px;
  min-width: 320px;
  width: auto;
  min-height: 520px;
  position: relative;
  padding: 30px 0 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#firebaseui-container .firebaseui-container.firebaseui-page-provider-sign-in {
  padding-top: 36px;
}

@media screen and (max-width: 320px) {
  body {
    background-color: #fff;
  }
}

@media screen and (min-width: 321px) and (max-width: 352px) {
  #firebaseui-container .firebaseui-container {
    margin-left: 12px;
    margin-right: 12px;
  }
}

#firebaseui-container .firebaseui-card-header {
  padding: 0 20px 0 20px;
  text-align: center;
}

#firebaseui-container .firebaseui-card-content {
  padding: 0 20px 0 20px;
  text-align: center;
}

#firebaseui-container .firebaseui-page-provider-sign-in .firebaseui-card-content {
  padding: 0;
}

#firebaseui-container .firebaseui-card-actions {
  padding: 0 20px 0 20px;
  font-size: 15px;
}

#firebaseui-container .firebaseui-card-footer {
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

#firebaseui-container .firebaseui-tos-list {
  text-align: center;
}

#firebaseui-container .firebaseui-provider-sign-in-footer {
  width: 100%;
}

#firebaseui-container .firebaseui-card-footer .firebaseui-tos {
  margin-bottom: 15px;
  padding: 0 15px;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0px;
}

#firebaseui-container .firebaseui-page-provider-sign-in .firebaseui-card-footer .firebaseui-tos {
  margin-bottom: 11px;
}

#firebaseui-container .firebaseui-input,
#firebaseui-container .firebaseui-input-invalid {
  background-color: #f5f5f5;
  color: #646464;
  padding-left: 12px;
}

#firebaseui-container .firebaseui-label {
  padding-left: 12px;
  top: 18px;
}

#firebaseui-container .firebaseui-textfield.is-focused .firebaseui-label,
#firebaseui-container .firebaseui-textfield.is-dirty .firebaseui-label {
  padding-top: 3px;
  font-size: 12px;
  top: 4px;
}

#firebaseui-container .firebaseui-textfield .firebaseui-input,
#firebaseui-container .firebaseui-textfield .firebaseui-input-invalid {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-shadow: 0 -20px 0 0 #f5f5f5;
  font-size: 18px;
  font-weight: 500;
}

#firebaseui-container  .firebaseui-container .firebaseui-idp-icon-wrapper {
  position: relative;
  left: 1px;
  top: 0px;
}

/* Overwrite common styles for login buttons */
#firebaseui-container .firebaseui-list-item .firebaseui-idp-text {
  font-size: 18px;
  font-family: "proxima-nova";
  font-weight: bold;
  padding-left: 22px;
}

#firebaseui-container .firebaseui-idp-icon-wrapper > img.firebaseui-idp-icon {
  height: 22px;
  width: 22px;
}

#firebaseui-container .firebaseui-id-idp-button {
  border-radius: 8px;
  max-width: 268px;
  width: 100%;
  min-height: 38px !important;
  padding: 6.5px 15px 6.5px 7px;
  margin: 0 auto;
}

#firebaseui-container .firebaseui-idp-list > .firebaseui-list-item {
  margin-bottom: 12px;
}

/* Overwrite google button */
#firebaseui-container .firebaseui-idp-google,
.firebaseui-idp-google:hover,
.mdl-button.firebaseui-idp-google:active,
.mdl-button.firebaseui-idp-google:focus {
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #959595;
}

/* Overwrite facebook button */
#firebaseui-container .firebaseui-idp-facebook,
.firebaseui-idp-facebook:hover,
.mdl-button.firebaseui-idp-facebook:active,
.mdl-button.firebaseui-idp-facebook:focus {
  background-color: #4267b2;
  box-shadow: 0 0 0 1px #4267b2;
}

/* Overwrite email button */
#firebaseui-container .firebaseui-idp-password,
.firebaseui-idp-password:hover,
.mdl-button.firebaseui-idp-password:active,
.mdl-button.firebaseui-idp-password:focus {
  background-color: #ff8b01;
  box-shadow: 0 0 0 1px #ff8b01;
}

/* Overwrite terms of service link styling */
#firebaseui-container .firebaseui-tos-link {
  color: #ff8b01;
  font-weight: 600;
}

/* Overwrite privacy policy link styling */
#firebaseui-container .firebaseui-pp-link {
  color: #ff8b01;
  font-weight: 600;
}

h1.anova-title {
  margin-top: 33px;
  margin-bottom: 18px;
  text-align: center;
}

h1.anova-title--secondary {
  margin-top: 17px;
  padding-bottom: 17px;
  text-align: left;
}

p.anova-description {
  margin: 0 0 20px 0;
  font-size: 18px;
  color: #646464;
  line-height: 1.35;
}

.anova-divider {
  font-family: proxima-nova;
  font-size: 15px;
  color: #646464;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 17px;
  text-transform: uppercase;
}

#firebaseui-container .mdl-button--primary {
  color: #ff8b01;
  border-radius: 8px;
}

#firebaseui-container .mdl-button--raised.mdl-button--colored {
  background-color: #ff8b01;
  border-radius: 8px;
  box-shadow: none;
}

#firebaseui-container .firebaseui-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 0;
}

#firebaseui-container .firebaseui-id-submit:hover,
#firebaseui-container .firebaseui-id-submit:active {
  background-color: #fb7310;
}

#firebaseui-container .firebaseui-id-submit[disabled],
#firebaseui-container .firebaseui-id-submit[disabled]:hover {
  background-color: #d8d8d8;
  color: #fff;
}

#firebaseui-container
  .firebaseui-textfield.mdl-textfield
  .firebaseui-label::after {
  background-color: #ff8b01;
}

#firebaseui-container .firebaseui-title {
  font-family: proxima-nova;
  font-size: 22px;
  font-weight: 400;
  color: #646464;
}

#firebaseui-container .firebaseui-id-page-sign-in .firebaseui-title,
#firebaseui-container .firebaseui-id-page-password-sign-in .firebaseui-title,
#firebaseui-container .firebaseui-id-page-password-sign-up .firebaseui-title {
  margin-top: 17px;
  padding-bottom: 13px;
}

#firebaseui-container .firebaseui-relative-wrapper {
  text-align: center;
}

#firebaseui-container .firebaseui-link {
  color: #ff8b01;
}

#firebaseui-container .firebaseui-error {
  color: #ff6d6d;
}

#firebaseui-container .firebaseui-input-invalid {
  border-color: #ff6d6d;
}

#firebaseui-container .firebaseui-password-component {
  display: inline-block;
  position: relative;
  width: 100%;
}

#firebaseui-container .firebaseui-input-toggle-on {
  background-image: url(/ali/firebaseui/assets/m-show-gray.svg);
}

#firebaseui-container .firebaseui-input-toggle-off {
  background-image: url(/ali/firebaseui/assets/m-hide-gray.svg);
}

#firebaseui-container .firebaseui-input-floating-button {
  width: 30px;
  height: 26px;
  top: 16px;
  right: 6px;
}

#firebaseui-container
  .firebaseui-input-floating-button.firebaseui-input-toggle-focus {
  top: 16px;
}

#firebaseui-container
  .firebaseui-textfield.is-dirty
  ~ .firebaseui-input-floating-button {
  top: 16px !important;
}

#firebaseui-container .firebaseui-input.firebaseui-id-password {
  padding-right: 40px;
}

#firebaseui-container .mdl-progress {
  margin-top: 7px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #646464 !important;
}

@supports (-webkit-appearance: none) {
  #firebaseui-container
    .mdl-progress:not(.mdl-progress--indeterminate):not(.mdl-progress--indeterminate)
    > .auxbar,
  #firebaseui-container.mdl-progress:not(.mdl-progress__indeterminate):not(.mdl-progress__indeterminate)
    > .auxbar {
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.7)
      ),
      linear-gradient(to right, #ff8b01, #ff8b01);
    mask: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+Cjxzdmcgd2lkdGg9IjEyIiBoZWlnaHQ9IjQiIHZpZXdQb3J0PSIwIDAgMTIgNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxlbGxpcHNlIGN4PSIyIiBjeT0iMiIgcng9IjIiIHJ5PSIyIj4KICAgIDxhbmltYXRlIGF0dHJpYnV0ZU5hbWU9ImN4IiBmcm9tPSIyIiB0bz0iLTEwIiBkdXI9IjAuNnMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAvPgogIDwvZWxsaXBzZT4KICA8ZWxsaXBzZSBjeD0iMTQiIGN5PSIyIiByeD0iMiIgcnk9IjIiIGNsYXNzPSJsb2FkZXIiPgogICAgPGFuaW1hdGUgYXR0cmlidXRlTmFtZT0iY3giIGZyb209IjE0IiB0bz0iMiIgZHVyPSIwLjZzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgLz4KICA8L2VsbGlwc2U+Cjwvc3ZnPgo=);
  }
}

#firebaseui-container .mdl-progress:not(.mdl-progress--indeterminate) > .auxbar,
#firebaseui-container.mdl-progress:not(.mdl-progress__indeterminate) > .auxbar {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    linear-gradient(to right, #ff8b01, #ff8b01);
}

#firebaseui-container .mdl-progress > .progressbar,
#firebaseui-container .mdl-progress.mdl-progress--indeterminate > .bar3,
#firebaseui-container .mdl-progress.mdl-progress__indeterminate > .bar3,
#firebaseui-container .mdl-progress.mdl-progress--indeterminate > .bar1,
#firebaseui-container .mdl-progress.mdl-progress__indeterminate > .bar1 {
  background-color: #ff8b01;
}

#firebaseui-container .mdl-progress > .bufferbar {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    linear-gradient(to right, #ff8b01, #ff8b01);
}


#firebaseui-container .anova-logo {
  width: 100px;
  height: 30px;
  object-fit: contain;
}

#firebaseui-container .firebaseui-page-provider-sign-in .anova-logo {
  width: 150px;
  height: 45px;
  object-fit: contain;
}

/* #firebaseui-container .anova-checkbox #privacy-policy,
#firebaseui-container .anova-checkbox #terms-of-service {
  width: 30px;
  height: 30px;
  background-image: url(/ali/firebaseui/assets/checkbox-unchecked.svg);
}

#firebaseui-container .anova-checkbox #privacy-policy:checked,
#firebaseui-container .anova-checkbox #terms-of-service:checked {
  background-image: url(/ali/firebaseui/assets/checkbox-checked.svg)
} */
.anova-checkbox-wrapper {
  margin-bottom: 14px;
}

.anova-checkbox-wrapper input[type=checkbox] {
  display: none;
}

.anova-checkbox-wrapper label {
  display: flex;
  flex-direction: row;
  font-family: proxima-nova;
  font-size: 15px;
  color: #646464;
  cursor: pointer;
}

.anova-checkbox-wrapper a {
  color: #ff8b01;
  text-decoration: none;
}

.anova-checkbox-wrapper a:hover {
  text-decoration: underline;
}

.anova-checkbox-wrapper label span {
  display: block;
  text-align: left;
}

.anova-checkbox-wrapper input[type=checkbox] ~ label > .anova-checkbox {
  width: 30px;
  height: 30px;
  background-image: url(/ali/firebaseui/assets/checkbox-unchecked.svg);
  margin-top: 3px;
}

.anova-checkbox-wrapper input[type=checkbox]:checked ~ label > .anova-checkbox {
  width: 30px;
  height: 30px;
  background-image: url(/ali/firebaseui/assets/checkbox-checked.svg);
}

.anova-checkbox-description {
  padding-left: 16px;
}
